header{
  padding: 1.6em 1.5em;
  background-color: rgb(151, 214, 216);
  display: flex;
  align-items: center;
  justify-content:space-between;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

a{
  text-decoration: none;
  margin: 0 3rem;
  font-size: 20px;
  color: rgb(36, 36, 36);
}

a:hover{
  color: red;
  text-decoration:overline;
}

.active{
  color: rgb(202, 116, 36);
}
