.container-center{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: 2rem;
}

.title{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2{
  margin: 0.5em 0;
  font-size: 22px;
}

.endgame{
  color: brown;
}

.grid-velha{
  margin-top: 1rem;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  gap: 15px;
  align-items: center;
  background-color: rgb(151, 214, 216);
}

.item{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: white;
  font-size: 80px;
}
